diffvg
**/__pycache__/**
check.py
save
ControlSketch/CLIP_/clip/__pycache__/__init__.cpython-39.pyc
ControlSketch/CLIP_/clip/__pycache__/auxilary.cpython-39.pyc
ControlSketch/CLIP_/clip/__pycache__/clip.cpython-39.pyc
ControlSketch/CLIP_/clip/__pycache__/model.cpython-39.pyc
.venv-tmp/
ControlSketch/CLIP_/clip/__pycache__/simple_tokenizer.cpython-39.pyc
output_sketches/
example_run_inputs/
ControlSketch_Dataset/
sketches_controlsketch
sketches_controlsketch/
dataset_controlsketch
wandb_api_key.txt
initialize.sh
control_script.sh

**/output_sketches/
**/angel_output_sketches/
**/angel_output_sketches*/

**/wandb/**
**/train_results/**

*/swiftsketch_train_script.sh

*.pt
**/args.json

*.pdf

